.search-box-container {
    margin-bottom: 20px;
}

.search-box {
    width: 241px;
    height: 38px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(206, 212, 218);
    padding: 6px 12px;
    border-radius: 4px;
    border-width: 1px;
    outline: none;
}

.search-box:active, .search-box:focus{
    border-color: #7952b3; 
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.disable-search{
    background-color: rgb(233, 236, 239)
}
.pagination-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.limit-input {
    font-size: 12px;
    border-color: rgb(222, 226, 230);
    border-radius: 2px;
    height: 24px;
    padding: 0 4px;
    margin-right: 10px;
}
