.key-multiselect{
    min-width: 241px;
    max-width: fit-content;
    height: 38px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(206, 212, 218);
    padding: 6px 12px;
    border-radius: 4px;
    border-width: 1px;
    outline: none;
}